service: namesorterprocessor
provider: 
  name: aws
  region: eu-north-1
  runtime: dotnetcore3.1
  deploymentBucket:
    name: ${opt:region, self:provider.region}-deployments
  timeout: 30
  memorySize: 256
  environment:
    DynamoDbConfiguration__TableName: ${file(env.configs.yml):dynamoTable}
  IamRoleStatements:
    - Effect: "Allow"
      Action:
        - dynamodb:*
      Resource: [namesTable, Arn]

functions:
  NameSorterProcessor:
    handler: NameSorterProcessor::NameSorterProcessor.LambdaEntryPoint::FunctionHandlerAsync
    events:
      - http:
          path: /{proxy+}
          method: any
resources:
  Resources:
    namesTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        TableName: ${self:provider.environment.DynamoDbConfiguration__TableName}
        AttributeDefinitions:
          - AttributeName: name
            AttributeType: S
        KeySchema:
          - AttributeName: name
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
            
package:
 excludeDevDependencies: false
plugins:
  - serverless-deployment-bucket